html {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-size: 2rem;
  margin: 0;
  line-height: 2.8rem;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
}

h1 {
  font-size: 5.6rem;
  line-height: 7rem;
}

h3 {
  font-size: 3.2rem;
  line-height: 4rem;
}

h4 {
  font-size: 2.4rem;
  line-height: 2.8rem;
}

.container {
  width: 90%;
  margin: 2rem auto;
}

header {
  display: flex;
  flex-direction: column;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn {
  color: #fff;
  width: 15rem;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5rem;
  background-color: #000;
}

.btn-dark {
  background-color: rgb(19, 24, 63);
  transition: all 0.2s ease-in;
}

.btn-dark:hover {
  background-color: rgba(19, 24, 63, 0.5);
}

.btn-pink {
  background-color: rgb(247, 71, 128);
  transition: all 0.2s ease-in;
}

.btn-pink:hover {
  background-color: rgba(247, 71, 128, 0.5);
}

.btn-dark-pink {
  background: linear-gradient(#4851ff, #f02aa6);
  transition: all 0.2s ease-in;
}

.btn-dark-pink:hover {
  opacity: 0.6;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-img-container {
  width: 50rem;
  height: 50rem;

  background: url("./assets/image-hero-mobile.webp") no-repeat center center /
    cover;
}

main {
  box-sizing: border-box;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.main-card {
  position: relative;
  height: 25rem;
  font-size: 1.5rem;
  padding: 10rem;
  flex: 1 1 100%;
  background-color: #fff;
  border-radius: 2rem;
  margin: 1rem;
  box-shadow: 5px 0 10px #dadbe7, -5px 0 10px #dadbe7, 0 5px 10px #dadbe7;
}

.check-out {
  background: linear-gradient(#f02aa6, #ff6f48);
  color: #fff;
  height: 12rem;
}

.link-secondary {
  color: #f74780;
}

.icon-container {
  width: 5rem;
  height: 5rem;
  position: absolute;
  top: 0;
}

footer {
  background-color: #13183f;
}

footer section {
  display: flex;
  height: 12rem;
  justify-content: space-between;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .container {
    width: 80%;
    margin: 2rem auto;
  }

  .hero-card {
    width: 50%;
    align-self: flex-start;
    font-size: 1.7rem;
  }

  .hero-card h1 {
    font-size: 4rem;
  }

  .hero-img-container {
    position: absolute;
    background: url("./assets/image-hero-tablet.webp") no-repeat center center /
      cover;
    top: 0;
    left: 70%;
  }

  .main-card {
    position: relative;
    height: 25rem;
    padding: 2rem;
    flex: 1 1 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

@media screen and (min-width: 1024px) {
  body {
    height: 100dvh;
  }

  .container {
    width: 80%;
    margin: 2rem auto;
    margin-bottom: 15rem;
  }

  .hero-card h1 {
    font-size: 7rem;
  }

  p {
    font-size: 2rem;
  }

  .main-card {
    flex: 1 1 25%;
  }

  .hero-img-container {
    background: url("./assets/image-hero-desktop.png") no-repeat center center /
      cover;
    top: 0;
    left: 78%;
  }
}
